body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: #0A1931;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Faz o container principal ocupar toda a tela */
}

.title-container {
    /* Ocupa todo o espaço vertical possível */
    flex: 1;
    /* Centraliza horizontal e verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.icons-container {
    /* Mantém os ícones na parte de baixo */
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-item {
    margin: 0 30px;
    text-align: center;
}

.icon-item img {
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 8px;
}

.icon-item img:hover {
    transform: scale(1.1);
}

.icon-item a {
    text-decoration: none;
    color: white;
}
