<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard de Informações CAGED</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="main-container">
    <div class="title-container">
      <h1>DASHBOARD DE INFORMAÇÕES CAGED</h1>
    </div>

    <div class="icons-container">
      <div class="icon-item">
        <a href="{{ url_for('ranking') }}">
          <img src="{{ url_for('static', filename='images/ranking.png') }}" alt="Ranking">
          <p>RANKING DE ATIVIDADES</p>
        </a>
      </div>

      <div class="icon-item">
        <a href="{{ url_for('estatisticas') }}">
          <img src="{{ url_for('static', filename='images/painel.png') }}" alt="Estatísticas">
          <p>ESTATÍSTICAS</p>
        </a>
      </div>

      <div class="icon-item">
        <a href="{{ url_for('regiao') }}">
          <img src="{{ url_for('static', filename='images/brazil.png') }}" alt="Região">
          <p>REGIÃO</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
